.li {
    width: 400px;
    max-height: 700px;
    border: 1px solid white;
    margin: 50px 50px 0 0;
    border-radius: 15px;
    padding: 15px;
    transition: .3s;
    cursor: pointer;
    box-shadow: 2px 2px 10px white;
}

.li:hover {
    scale: 1.1;
}

.img {
    width: 400px;
    height: 250px;
    border-radius: 15px;
}

.p {
    display: flex; 
    align-items: center;
    gap: 6px;
    color: white;
    font-size: 24px;
    margin: 10px 0;
}

.likeIcon {
  display: flex;
  align-items: center;
  animation: pop 0.8s ease-in-out infinite;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.4);
  }
  60% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}